body {
    overflow-x: hidden;
}
a {
    border-radius: 50%;
    padding: 10px;
}
.container-fluid {
    padding: 5rem 0;
}
#boasVindas {
    margin-top: 2rem;
}
.divTabela {
    background-color: #DDD;
    margin-top: 3rem;
    padding-top: 20px;
    border-radius: 5px;
}
.form-control {
    display: inline-block;
    margin: 20px 0;
}
.formModal {
    margin: 0;
}
@media only screen and (max-width:768px) {
    .col-sm-12 {
        margin: 5px 0;
    }
}
